*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: wheat;
}
header{
    background-color: #005EF2;
}
.nav{
    background-color: #005EF2;
    color: white;
}
.nav_figure{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.nav_conteiner li{
    display: inline-block;
    flex-direction: row;
    list-style: none;
    padding: 2rem 2rem 2rem;
} 
main{
    background-color: white;
}
.main_conteiner{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    height: 80vh;
}
.div_section{
    border: 2px black solid;
    border-radius: 12%;
    width: 40rem;
    height: 12rem;
    text-align: center;
    
}
footer{
    background-color: black;
    color: white;
}
.footer_list li{
    display: inline-block;
    list-style: none;
    padding: 2rem 2rem 2rem;
}